html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block
  vertical-align: baseline

audio:not([controls])
  display: none
  height: 0

[hidden], template
  display: none

a
  background: transparent
  &:active, &:hover
    outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

h1
  font-size: 2em
  margin: 0.67em 0

mark
  background: #ff0
  color: #000

small
  font-size: 80%

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 1em 40px

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

pre
  overflow: auto

code, kbd, pre, samp
  font-family: monospace, monospace
  font-size: 1em

button, input, optgroup, select, textarea
  color: inherit
  font: inherit
  margin: 0

button
  overflow: visible
  text-transform: none

select
  text-transform: none

button, html input[type="button"]
  -webkit-appearance: button
  cursor: pointer

input
  &[type="reset"], &[type="submit"]
    -webkit-appearance: button
    cursor: pointer

button[disabled], html input[disabled]
  cursor: default

button::-moz-focus-inner
  border: 0
  padding: 0

input
  &::-moz-focus-inner
    border: 0
    padding: 0
  line-height: normal
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    padding: 0
  &[type="number"]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
      height: auto
  &[type="search"]
    -webkit-appearance: textfield
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

table
  border-collapse: collapse
  border-spacing: 0

td, th
  padding: 0

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html
  font-size: 62.5%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  line-height: 1.42857143
  color: #333
  background-color: #fff

input, button, select, textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

a
  color: #428bca
  text-decoration: none
  &:hover
    color: #2a6496
    text-decoration: underline
  &:focus
    color: #2a6496
    text-decoration: underline
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

figure
  margin: 0

img
  vertical-align: middle

.img-responsive
  display: block
  max-width: 100%
  height: auto

.img-rounded
  border-radius: 6px

.img-thumbnail
  padding: 4px
  line-height: 1.42857143
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 4px
  -webkit-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
  display: inline-block
  max-width: 100%
  height: auto

.img-circle
  border-radius: 50%

hr
  margin-top: 20px
  margin-bottom: 20px
  border: 0
  border-top: 1px solid #eee

.sr-only
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: inherit
  font-weight: 500
  line-height: 1.1
  color: inherit

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small
  font-weight: normal
  line-height: 1
  color: #999

h1, .h1, h2, .h2, h3, .h3
  margin-top: 20px
  margin-bottom: 10px

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small
  font-size: 65%

h4, .h4, h5, .h5, h6, .h6
  margin-top: 10px
  margin-bottom: 10px

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small
  font-size: 75%

h1, .h1
  font-size: 36px

h2, .h2
  font-size: 30px

h3, .h3
  font-size: 24px

h4, .h4
  font-size: 18px

h5, .h5
  font-size: 14px

h6, .h6
  font-size: 12px

p
  margin: 0 0 10px

.lead
  margin-bottom: 20px
  font-size: 16px
  font-weight: 200
  line-height: 1.4

@media (min-width: 768px)
  .lead
    font-size: 21px

small, .small
  font-size: 85%

cite
  font-style: normal

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

.text-justify
  text-align: justify

.text-muted
  color: #999

.text-primary
  color: #428bca

a.text-primary:hover
  color: #3071a9

.text-success
  color: #3c763d

a.text-success:hover
  color: #2b542c

.text-info
  color: #31708f

a.text-info:hover
  color: #245269

.text-warning
  color: #8a6d3b

a.text-warning:hover
  color: #66512c

.text-danger
  color: #a94442

a.text-danger:hover
  color: #843534

.bg-primary
  color: #fff
  background-color: #428bca

a.bg-primary:hover
  background-color: #3071a9

.bg-success
  background-color: #dff0d8

a.bg-success:hover
  background-color: #c1e2b3

.bg-info
  background-color: #d9edf7

a.bg-info:hover
  background-color: #afd9ee

.bg-warning
  background-color: #fcf8e3

a.bg-warning:hover
  background-color: #f7ecb5

.bg-danger
  background-color: #f2dede

a.bg-danger:hover
  background-color: #e4b9b9

.page-header
  padding-bottom: 9px
  margin: 40px 0 20px
  border-bottom: 1px solid #eee

ul, ol
  margin-top: 0
  margin-bottom: 10px

ul ul, ol ul, ul ol, ol ol
  margin-bottom: 0

.list-unstyled
  padding-left: 0
  list-style: none

.list-inline
  padding-left: 0
  list-style: none
  margin-left: -5px
  > li
    display: inline-block
    padding-left: 5px
    padding-right: 5px

dl
  margin-top: 0
  margin-bottom: 20px

dt, dd
  line-height: 1.42857143

dt
  font-weight: bold

dd
  margin-left: 0

@media (min-width: 768px)
  .dl-horizontal
    dt
      float: left
      width: 160px
      clear: left
      text-align: right
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    dd
      margin-left: 180px

abbr
  &[title], &[data-original-title]
    cursor: help
    border-bottom: 1px dotted #999

.initialism
  font-size: 90%
  text-transform: uppercase

blockquote
  padding: 10px 20px
  margin: 0 0 20px
  font-size: 17.5px
  border-left: 5px solid #eee
  p:last-child, ul:last-child, ol:last-child
    margin-bottom: 0
  footer, small, .small
    display: block
    font-size: 80%
    line-height: 1.42857143
    color: #999
  footer:before, small:before, .small:before
    content: '\2014 \00A0'

.blockquote-reverse, blockquote.pull-right
  padding-right: 15px
  padding-left: 0
  border-right: 5px solid #eee
  border-left: 0
  text-align: right

.blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before
  content: ''

.blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after
  content: '\00A0 \2014'

blockquote
  &.pull-right .small:after
    content: '\00A0 \2014'
  &:before, &:after
    content: ""

address
  margin-bottom: 20px
  font-style: normal
  line-height: 1.42857143

.container, .container-fluid
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

@media (min-width: 768px)
  .container
    width: 750px

@media (min-width: 992px)
  .container
    width: 970px

@media (min-width: 1200px)
  .container
    width: 1170px

.row
  margin-left: -15px
  margin-right: -15px

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11
  float: left

.col-xs-12
  float: left
  width: 100%

.col-xs-11
  width: 91.66666667%

.col-xs-10
  width: 83.33333333%

.col-xs-9
  width: 75%

.col-xs-8
  width: 66.66666667%

.col-xs-7
  width: 58.33333333%

.col-xs-6
  width: 50%

.col-xs-5
  width: 41.66666667%

.col-xs-4
  width: 33.33333333%

.col-xs-3
  width: 25%

.col-xs-2
  width: 16.66666667%

.col-xs-1
  width: 8.33333333%

.col-xs-pull-12
  right: 100%

.col-xs-pull-11
  right: 91.66666667%

.col-xs-pull-10
  right: 83.33333333%

.col-xs-pull-9
  right: 75%

.col-xs-pull-8
  right: 66.66666667%

.col-xs-pull-7
  right: 58.33333333%

.col-xs-pull-6
  right: 50%

.col-xs-pull-5
  right: 41.66666667%

.col-xs-pull-4
  right: 33.33333333%

.col-xs-pull-3
  right: 25%

.col-xs-pull-2
  right: 16.66666667%

.col-xs-pull-1
  right: 8.33333333%

.col-xs-pull-0
  right: 0

.col-xs-push-12
  left: 100%

.col-xs-push-11
  left: 91.66666667%

.col-xs-push-10
  left: 83.33333333%

.col-xs-push-9
  left: 75%

.col-xs-push-8
  left: 66.66666667%

.col-xs-push-7
  left: 58.33333333%

.col-xs-push-6
  left: 50%

.col-xs-push-5
  left: 41.66666667%

.col-xs-push-4
  left: 33.33333333%

.col-xs-push-3
  left: 25%

.col-xs-push-2
  left: 16.66666667%

.col-xs-push-1
  left: 8.33333333%

.col-xs-push-0
  left: 0

.col-xs-offset-12
  margin-left: 100%

.col-xs-offset-11
  margin-left: 91.66666667%

.col-xs-offset-10
  margin-left: 83.33333333%

.col-xs-offset-9
  margin-left: 75%

.col-xs-offset-8
  margin-left: 66.66666667%

.col-xs-offset-7
  margin-left: 58.33333333%

.col-xs-offset-6
  margin-left: 50%

.col-xs-offset-5
  margin-left: 41.66666667%

.col-xs-offset-4
  margin-left: 33.33333333%

.col-xs-offset-3
  margin-left: 25%

.col-xs-offset-2
  margin-left: 16.66666667%

.col-xs-offset-1
  margin-left: 8.33333333%

.col-xs-offset-0
  margin-left: 0

@media (min-width: 768px)
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11
    float: left
  .col-sm-12
    float: left
    width: 100%
  .col-sm-11
    width: 91.66666667%
  .col-sm-10
    width: 83.33333333%
  .col-sm-9
    width: 75%
  .col-sm-8
    width: 66.66666667%
  .col-sm-7
    width: 58.33333333%
  .col-sm-6
    width: 50%
  .col-sm-5
    width: 41.66666667%
  .col-sm-4
    width: 33.33333333%
  .col-sm-3
    width: 25%
  .col-sm-2
    width: 16.66666667%
  .col-sm-1
    width: 8.33333333%
  .col-sm-pull-12
    right: 100%
  .col-sm-pull-11
    right: 91.66666667%
  .col-sm-pull-10
    right: 83.33333333%
  .col-sm-pull-9
    right: 75%
  .col-sm-pull-8
    right: 66.66666667%
  .col-sm-pull-7
    right: 58.33333333%
  .col-sm-pull-6
    right: 50%
  .col-sm-pull-5
    right: 41.66666667%
  .col-sm-pull-4
    right: 33.33333333%
  .col-sm-pull-3
    right: 25%
  .col-sm-pull-2
    right: 16.66666667%
  .col-sm-pull-1
    right: 8.33333333%
  .col-sm-pull-0
    right: 0
  .col-sm-push-12
    left: 100%
  .col-sm-push-11
    left: 91.66666667%
  .col-sm-push-10
    left: 83.33333333%
  .col-sm-push-9
    left: 75%
  .col-sm-push-8
    left: 66.66666667%
  .col-sm-push-7
    left: 58.33333333%
  .col-sm-push-6
    left: 50%
  .col-sm-push-5
    left: 41.66666667%
  .col-sm-push-4
    left: 33.33333333%
  .col-sm-push-3
    left: 25%
  .col-sm-push-2
    left: 16.66666667%
  .col-sm-push-1
    left: 8.33333333%
  .col-sm-push-0
    left: 0
  .col-sm-offset-12
    margin-left: 100%
  .col-sm-offset-11
    margin-left: 91.66666667%
  .col-sm-offset-10
    margin-left: 83.33333333%
  .col-sm-offset-9
    margin-left: 75%
  .col-sm-offset-8
    margin-left: 66.66666667%
  .col-sm-offset-7
    margin-left: 58.33333333%
  .col-sm-offset-6
    margin-left: 50%
  .col-sm-offset-5
    margin-left: 41.66666667%
  .col-sm-offset-4
    margin-left: 33.33333333%
  .col-sm-offset-3
    margin-left: 25%
  .col-sm-offset-2
    margin-left: 16.66666667%
  .col-sm-offset-1
    margin-left: 8.33333333%
  .col-sm-offset-0
    margin-left: 0

@media (min-width: 992px)
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11
    float: left
  .col-md-12
    float: left
    width: 100%
  .col-md-11
    width: 91.66666667%
  .col-md-10
    width: 83.33333333%
  .col-md-9
    width: 75%
  .col-md-8
    width: 66.66666667%
  .col-md-7
    width: 58.33333333%
  .col-md-6
    width: 50%
  .col-md-5
    width: 41.66666667%
  .col-md-4
    width: 33.33333333%
  .col-md-3
    width: 25%
  .col-md-2
    width: 16.66666667%
  .col-md-1
    width: 8.33333333%
  .col-md-pull-12
    right: 100%
  .col-md-pull-11
    right: 91.66666667%
  .col-md-pull-10
    right: 83.33333333%
  .col-md-pull-9
    right: 75%
  .col-md-pull-8
    right: 66.66666667%
  .col-md-pull-7
    right: 58.33333333%
  .col-md-pull-6
    right: 50%
  .col-md-pull-5
    right: 41.66666667%
  .col-md-pull-4
    right: 33.33333333%
  .col-md-pull-3
    right: 25%
  .col-md-pull-2
    right: 16.66666667%
  .col-md-pull-1
    right: 8.33333333%
  .col-md-pull-0
    right: 0
  .col-md-push-12
    left: 100%
  .col-md-push-11
    left: 91.66666667%
  .col-md-push-10
    left: 83.33333333%
  .col-md-push-9
    left: 75%
  .col-md-push-8
    left: 66.66666667%
  .col-md-push-7
    left: 58.33333333%
  .col-md-push-6
    left: 50%
  .col-md-push-5
    left: 41.66666667%
  .col-md-push-4
    left: 33.33333333%
  .col-md-push-3
    left: 25%
  .col-md-push-2
    left: 16.66666667%
  .col-md-push-1
    left: 8.33333333%
  .col-md-push-0
    left: 0
  .col-md-offset-12
    margin-left: 100%
  .col-md-offset-11
    margin-left: 91.66666667%
  .col-md-offset-10
    margin-left: 83.33333333%
  .col-md-offset-9
    margin-left: 75%
  .col-md-offset-8
    margin-left: 66.66666667%
  .col-md-offset-7
    margin-left: 58.33333333%
  .col-md-offset-6
    margin-left: 50%
  .col-md-offset-5
    margin-left: 41.66666667%
  .col-md-offset-4
    margin-left: 33.33333333%
  .col-md-offset-3
    margin-left: 25%
  .col-md-offset-2
    margin-left: 16.66666667%
  .col-md-offset-1
    margin-left: 8.33333333%
  .col-md-offset-0
    margin-left: 0

@media (min-width: 1200px)
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11
    float: left
  .col-lg-12
    float: left
    width: 100%
  .col-lg-11
    width: 91.66666667%
  .col-lg-10
    width: 83.33333333%
  .col-lg-9
    width: 75%
  .col-lg-8
    width: 66.66666667%
  .col-lg-7
    width: 58.33333333%
  .col-lg-6
    width: 50%
  .col-lg-5
    width: 41.66666667%
  .col-lg-4
    width: 33.33333333%
  .col-lg-3
    width: 25%
  .col-lg-2
    width: 16.66666667%
  .col-lg-1
    width: 8.33333333%
  .col-lg-pull-12
    right: 100%
  .col-lg-pull-11
    right: 91.66666667%
  .col-lg-pull-10
    right: 83.33333333%
  .col-lg-pull-9
    right: 75%
  .col-lg-pull-8
    right: 66.66666667%
  .col-lg-pull-7
    right: 58.33333333%
  .col-lg-pull-6
    right: 50%
  .col-lg-pull-5
    right: 41.66666667%
  .col-lg-pull-4
    right: 33.33333333%
  .col-lg-pull-3
    right: 25%
  .col-lg-pull-2
    right: 16.66666667%
  .col-lg-pull-1
    right: 8.33333333%
  .col-lg-pull-0
    right: 0
  .col-lg-push-12
    left: 100%
  .col-lg-push-11
    left: 91.66666667%
  .col-lg-push-10
    left: 83.33333333%
  .col-lg-push-9
    left: 75%
  .col-lg-push-8
    left: 66.66666667%
  .col-lg-push-7
    left: 58.33333333%
  .col-lg-push-6
    left: 50%
  .col-lg-push-5
    left: 41.66666667%
  .col-lg-push-4
    left: 33.33333333%
  .col-lg-push-3
    left: 25%
  .col-lg-push-2
    left: 16.66666667%
  .col-lg-push-1
    left: 8.33333333%
  .col-lg-push-0
    left: 0
  .col-lg-offset-12
    margin-left: 100%
  .col-lg-offset-11
    margin-left: 91.66666667%
  .col-lg-offset-10
    margin-left: 83.33333333%
  .col-lg-offset-9
    margin-left: 75%
  .col-lg-offset-8
    margin-left: 66.66666667%
  .col-lg-offset-7
    margin-left: 58.33333333%
  .col-lg-offset-6
    margin-left: 50%
  .col-lg-offset-5
    margin-left: 41.66666667%
  .col-lg-offset-4
    margin-left: 33.33333333%
  .col-lg-offset-3
    margin-left: 25%
  .col-lg-offset-2
    margin-left: 16.66666667%
  .col-lg-offset-1
    margin-left: 8.33333333%
  .col-lg-offset-0
    margin-left: 0

fieldset
  padding: 0
  margin: 0
  border: 0
  min-width: 0

legend
  display: block
  width: 100%
  padding: 0
  margin-bottom: 20px
  font-size: 21px
  line-height: inherit
  color: #333
  border: 0
  border-bottom: 1px solid #e5e5e5

label
  display: inline-block
  margin-bottom: 5px
  font-weight: bold

input
  &[type="search"]
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
  &[type="radio"], &[type="checkbox"]
    margin: 4px 0 0
    margin-top: 1px \9
    line-height: normal
  &[type="file"]
    display: block
  &[type="range"]
    display: block
    width: 100%

select
  &[multiple], &[size]
    height: auto

input
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

output
  display: block
  padding-top: 7px
  font-size: 14px
  line-height: 1.42857143
  color: #555

.form-control
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  &:focus
    border-color: #66afe9
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
  &::-moz-placeholder
    color: #999
    opacity: 1
  &:-ms-input-placeholder, &::-webkit-input-placeholder
    color: #999
  &[disabled], &[readonly]
    cursor: not-allowed
    background-color: #eee
    opacity: 1

fieldset[disabled] .form-control
  cursor: not-allowed
  background-color: #eee
  opacity: 1

textarea.form-control
  height: auto

input
  &[type="search"]
    -webkit-appearance: none
  &[type="date"]
    line-height: 34px

.form-group
  margin-bottom: 15px

.radio, .checkbox
  display: block
  min-height: 20px
  margin-top: 10px
  margin-bottom: 10px
  padding-left: 20px

.radio label, .checkbox label
  display: inline
  font-weight: normal
  cursor: pointer

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
  float: left
  margin-left: -20px

.radio + .radio, .checkbox + .checkbox
  margin-top: -5px

.radio-inline, .checkbox-inline
  display: inline-block
  padding-left: 20px
  margin-bottom: 0
  vertical-align: middle
  font-weight: normal
  cursor: pointer

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline
  margin-top: 0
  margin-left: 10px

input
  &[type="radio"][disabled], &[type="checkbox"][disabled]
    cursor: not-allowed

.radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled]
  cursor: not-allowed

fieldset[disabled]
  input
    &[type="radio"], &[type="checkbox"]
      cursor: not-allowed
  .radio, .radio-inline, .checkbox, .checkbox-inline
    cursor: not-allowed

.input-sm
  height: 30px
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  border-radius: 3px

select.input-sm
  height: 30px
  line-height: 30px

textarea.input-sm, select[multiple].input-sm
  height: auto

.input-lg
  height: 46px
  padding: 10px 16px
  font-size: 18px
  line-height: 1.33
  border-radius: 6px

select.input-lg
  height: 46px
  line-height: 46px

textarea.input-lg, select[multiple].input-lg
  height: auto

.has-feedback
  position: relative
  .form-control
    padding-right: 42.5px
  .form-control-feedback
    position: absolute
    top: 25px
    right: 0
    display: block
    width: 34px
    height: 34px
    line-height: 34px
    text-align: center

.has-success
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline
    color: #3c763d
  .form-control
    border-color: #3c763d
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    &:focus
      border-color: #2b542c
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
  .input-group-addon
    color: #3c763d
    border-color: #3c763d
    background-color: #dff0d8
  .form-control-feedback
    color: #3c763d

.has-warning
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline
    color: #8a6d3b
  .form-control
    border-color: #8a6d3b
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    &:focus
      border-color: #66512c
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
  .input-group-addon
    color: #8a6d3b
    border-color: #8a6d3b
    background-color: #fcf8e3
  .form-control-feedback
    color: #8a6d3b

.has-error
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline
    color: #a94442
  .form-control
    border-color: #a94442
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    &:focus
      border-color: #843534
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
  .input-group-addon
    color: #a94442
    border-color: #a94442
    background-color: #f2dede
  .form-control-feedback
    color: #a94442

.form-control-static
  margin-bottom: 0

.help-block
  display: block
  margin-top: 5px
  margin-bottom: 10px
  color: #737373

@media (min-width: 768px)
  .form-inline
    .form-group
      display: inline-block
      margin-bottom: 0
      vertical-align: middle
    .form-control
      display: inline-block
      width: auto
      vertical-align: middle
    .input-group > .form-control
      width: 100%
    .control-label
      margin-bottom: 0
      vertical-align: middle
    .radio, .checkbox
      display: inline-block
      margin-top: 0
      margin-bottom: 0
      padding-left: 0
      vertical-align: middle
    .radio input[type="radio"], .checkbox input[type="checkbox"]
      float: none
      margin-left: 0
    .has-feedback .form-control-feedback
      top: 0

.form-horizontal
  .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline
    margin-top: 0
    margin-bottom: 0
    padding-top: 7px
  .radio, .checkbox
    min-height: 27px
  .form-group
    margin-left: -15px
    margin-right: -15px
  .form-control-static
    padding-top: 7px
  .has-feedback .form-control-feedback
    top: 0
    right: 15px

@media (min-width: 768px)
  .form-horizontal .control-label
    text-align: right

.input-group
  position: relative
  display: table
  border-collapse: separate
  &[class*="col-"]
    float: none
    padding-left: 0
    padding-right: 0
  .form-control
    position: relative
    z-index: 2
    float: left
    width: 100%
    margin-bottom: 0

.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 46px
    padding: 10px 16px
    font-size: 18px
    line-height: 1.33
    border-radius: 6px

select.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 46px
    line-height: 46px

textarea.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

select[multiple].input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 30px
    padding: 5px 10px
    font-size: 12px
    line-height: 1.5
    border-radius: 3px

select.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 30px
    line-height: 30px

textarea.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

select[multiple].input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

.input-group-addon, .input-group-btn, .input-group .form-control
  display: table-cell

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child)
  border-radius: 0

.input-group-addon, .input-group-btn
  width: 1%
  white-space: nowrap
  vertical-align: middle

.input-group-addon
  padding: 6px 12px
  font-size: 14px
  font-weight: normal
  line-height: 1
  color: #555
  text-align: center
  background-color: #eee
  border: 1px solid #ccc
  border-radius: 4px
  &.input-sm
    padding: 5px 10px
    font-size: 12px
    border-radius: 3px
  &.input-lg
    padding: 10px 16px
    font-size: 18px
    border-radius: 6px
  input
    &[type="radio"], &[type="checkbox"]
      margin-top: 0

.input-group .form-control:first-child, .input-group-addon:first-child
  border-bottom-right-radius: 0
  border-top-right-radius: 0

.input-group-btn
  &:first-child >
    .btn, .btn-group > .btn, .dropdown-toggle
      border-bottom-right-radius: 0
      border-top-right-radius: 0
  &:last-child >
    .btn:not(:last-child):not(.dropdown-toggle), .btn-group:not(:last-child) > .btn
      border-bottom-right-radius: 0
      border-top-right-radius: 0

.input-group-addon:first-child
  border-right: 0

.input-group .form-control:last-child, .input-group-addon:last-child
  border-bottom-left-radius: 0
  border-top-left-radius: 0

.input-group-btn
  &:last-child >
    .btn, .btn-group > .btn, .dropdown-toggle
      border-bottom-left-radius: 0
      border-top-left-radius: 0
  &:first-child >
    .btn:not(:first-child), .btn-group:not(:first-child) > .btn
      border-bottom-left-radius: 0
      border-top-left-radius: 0

.input-group-addon:last-child
  border-left: 0

.input-group-btn
  position: relative
  font-size: 0
  white-space: nowrap
  > .btn
    position: relative
    + .btn
      margin-left: -1px
    &:hover, &:focus, &:active
      z-index: 2
  &:first-child >
    .btn, .btn-group
      margin-right: -1px
  &:last-child >
    .btn, .btn-group
      margin-left: -1px

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075)

.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)

.btn
  &:active, &.active
    background-image: none

.btn-default
  background-image: -webkit-linear-gradient(top, white 0, #e0e0e0 100%)
  background-image: linear-gradient(to bottom, white 0, #e0e0e0 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #dbdbdb
  text-shadow: 0 1px 0 #fff
  border-color: #ccc
  &:hover, &:focus
    background-color: #e0e0e0
    background-position: 0 -15px
  &:active, &.active
    background-color: #e0e0e0
    border-color: #dbdbdb

.btn-primary
  background-image: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%)
  background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #2b669a
  &:hover, &:focus
    background-color: #2d6ca2
    background-position: 0 -15px
  &:active, &.active
    background-color: #2d6ca2
    border-color: #2b669a

.btn-success
  background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%)
  background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #3e8f3e
  &:hover, &:focus
    background-color: #419641
    background-position: 0 -15px
  &:active, &.active
    background-color: #419641
    border-color: #3e8f3e

.btn-info
  background-image: -webkit-linear-gradient(top, #5bc0de 0, #2aabd2 100%)
  background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #28a4c9
  &:hover, &:focus
    background-color: #2aabd2
    background-position: 0 -15px
  &:active, &.active
    background-color: #2aabd2
    border-color: #28a4c9

.btn-warning
  background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%)
  background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #e38d13
  &:hover, &:focus
    background-color: #eb9316
    background-position: 0 -15px
  &:active, &.active
    background-color: #eb9316
    border-color: #e38d13

.btn-danger
  background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%)
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  background-repeat: repeat-x
  border-color: #b92c28
  &:hover, &:focus
    background-color: #c12e2a
    background-position: 0 -15px
  &:active, &.active
    background-color: #c12e2a
    border-color: #b92c28

.thumbnail, .img-thumbnail
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)

.dropdown-menu >
  li > a
    &:hover, &:focus
      background-image: -webkit-linear-gradient(top, whitesmoke 0, #e8e8e8 100%)
      background-image: linear-gradient(to bottom, whitesmoke 0, #e8e8e8 100%)
      background-repeat: repeat-x
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0)
      background-color: #e8e8e8
  .active > a
    background-image: -webkit-linear-gradient(top, #428bca 0, #357ebd 100%)
    background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0)
    background-color: #357ebd
    &:hover, &:focus
      background-image: -webkit-linear-gradient(top, #428bca 0, #357ebd 100%)
      background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%)
      background-repeat: repeat-x
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0)
      background-color: #357ebd

.navbar-default
  background-image: -webkit-linear-gradient(top, white 0, #f8f8f8 100%)
  background-image: linear-gradient(to bottom, white 0, #f8f8f8 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075)
  .navbar-nav > .active > a
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%)
    background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0)
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075)

.navbar-brand, .navbar-nav > li > a
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)

.navbar-inverse
  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222222 100%)
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222222 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  .navbar-nav > .active > a
    background-image: -webkit-linear-gradient(top, #222222 0, #282828 100%)
    background-image: linear-gradient(to bottom, #222222 0, #282828 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0)
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25)
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25)
  .navbar-brand, .navbar-nav > li > a
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom
  border-radius: 0

.alert
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2)
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05)

.alert-success
  background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%)
  background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0)
  border-color: #b2dba1

.alert-info
  background-image: -webkit-linear-gradient(top, #d9edf7 0, #b9def0 100%)
  background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0)
  border-color: #9acfea

.alert-warning
  background-image: -webkit-linear-gradient(top, #fcf8e3 0, #f8efc0 100%)
  background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0)
  border-color: #f5e79e

.alert-danger
  background-image: -webkit-linear-gradient(top, #f2dede 0, #e7c3c3 100%)
  background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0)
  border-color: #dca7a7

.progress
  background-image: -webkit-linear-gradient(top, #ebebeb 0, whitesmoke 100%)
  background-image: linear-gradient(to bottom, #ebebeb 0, whitesmoke 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0)

.progress-bar
  background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%)
  background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0)

.progress-bar-success
  background-image: -webkit-linear-gradient(top, #5cb85c 0, #449d44 100%)
  background-image: linear-gradient(to bottom, #5cb85c 0, #449d44 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0)

.progress-bar-info
  background-image: -webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%)
  background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0)

.progress-bar-warning
  background-image: -webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%)
  background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0)

.progress-bar-danger
  background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%)
  background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0)

.list-group
  border-radius: 4px
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)

.list-group-item.active
  text-shadow: 0 -1px 0 #3071a9
  background-image: -webkit-linear-gradient(top, #428bca 0, #3278b3 100%)
  background-image: linear-gradient(to bottom, #428bca 0, #3278b3 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0)
  border-color: #3278b3
  &:hover, &:focus
    text-shadow: 0 -1px 0 #3071a9
    background-image: -webkit-linear-gradient(top, #428bca 0, #3278b3 100%)
    background-image: linear-gradient(to bottom, #428bca 0, #3278b3 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0)
    border-color: #3278b3

.panel
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

.panel-default > .panel-heading
  background-image: -webkit-linear-gradient(top, whitesmoke 0, #e8e8e8 100%)
  background-image: linear-gradient(to bottom, whitesmoke 0, #e8e8e8 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0)

.panel-primary > .panel-heading
  background-image: -webkit-linear-gradient(top, #428bca 0, #357ebd 100%)
  background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0)

.panel-success > .panel-heading
  background-image: -webkit-linear-gradient(top, #dff0d8 0, #d0e9c6 100%)
  background-image: linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0)

.panel-info > .panel-heading
  background-image: -webkit-linear-gradient(top, #d9edf7 0, #c4e3f3 100%)
  background-image: linear-gradient(to bottom, #d9edf7 0, #c4e3f3 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0)

.panel-warning > .panel-heading
  background-image: -webkit-linear-gradient(top, #fcf8e3 0, #faf2cc 100%)
  background-image: linear-gradient(to bottom, #fcf8e3 0, #faf2cc 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0)

.panel-danger > .panel-heading
  background-image: -webkit-linear-gradient(top, #f2dede 0, #ebcccc 100%)
  background-image: linear-gradient(to bottom, #f2dede 0, #ebcccc 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0)

.well
  background-image: -webkit-linear-gradient(top, #e8e8e8 0, whitesmoke 100%)
  background-image: linear-gradient(to bottom, #e8e8e8 0, whitesmoke 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0)
  border-color: #dcdcdc
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1)
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1)


//
// @APP
//


$yellow: rgb(250, 241, 210)
$brown: rgb(93,47,8)
$orange: rgb(173,129,0)
$slate: rgb(113,127,141)
$error: rgb(202,46,45)

h1.logo
  font-style: italic
  font-weight: 400
  font-size: 16px
  text-align: center
  color: $yellow
  letter-spacing: 1px
  width: 125px
  margin: 0 auto
  padding: 5px
  border:
    left: 1px solid $yellow
    right: 1px solid $yellow
    bottom: 1px solid $yellow

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after
  display: table
  content: ' '

strong
  color: $brown

.span12
  padding: 10px

body
  color: #323232
  font-family: 'Sentinel SSm A', 'Sentinel SSm B'
  font-weight: 400
  font-style: normal
  font-size: 18px
  line-height: 1.45em
  padding: 0
  margin: 0

.hero
  background: url('../images/slow-coffee-header.jpg') center center no-repeat
  display: inline-block
  width: 100%
  .header
    padding: 13em 0
    p.btn-container
      a
        border: 1px solid #fff
        padding: 15px 80px
        font-size: 23px
        color: #fff
        font-style: normal
        &:hover
          background: $yellow
          color: $brown
          text-decoration: none
          font-style: italic

.hero-inner
  h1
    margin: 0 auto
    font-size: 3em
    font-weight: 300
    line-height: 1.1
    color: rgb(250, 241, 210)
    text-align: center
    font-style: italic
  span
    font-size: 70%
    position: relative
    bottom: 27px
    right: 5px
  p.small
    text-align: right
    position: relative
    font-size: 15px
    position: relative
    top: 13em
    color: rgb(211,192,165)
    a
      color: $brown

.currently
  background: url('../images/map.svg') center center no-repeat $orange
  color: $orange
  text-align: center
  height: 390px
  h1
    padding-top: 120px
    color: #fff
    strong, em
      color: inherit

.explanation
  padding:
    top: 3em
    bottom: 4em
  h1
    color: $orange
    margin: 2em 0 1em
    font-size: 2.25em
    @media screen and (max-width: 599px)
      margin: 2em 0
  p
    font-size: 1.5em
    line-height: 1.3em

.subscription
  border-top: 1px solid #e2e2e2
  padding-top: 2em
  .pilot-p-container
    margin-top: 2em
    margin-bottom: 3em
    display: inline-block
  h1
    text-align: center

.plan
  background-image: url('../images/bean-background.svg')
  background-repeat: no-repeat
  padding-top: 110px
  padding-bottom: 30px
  @media screen and (max-width: 767px)
    padding-top: 0
  h3
    font-family: 'Whitney Cond A', 'Whitney Cond B'
    font-weight: 600
    font-style: normal
    text-transform: uppercase
    letter-spacing: 1px
    color: $orange - 15
    font-size: 27px
    text-align: center
  p em
    color: #686868
  span.price
    font-family: 'Numbers Depot A', 'Numbers Depot B'
    font-weight: 400
    font-style: normal
    background: $slate
    padding: 15px 5px
    border-radius: 200px
    color: #fff
    float: right
    position: relative
    bottom: 10px
    right: 10px
    @media screen and (max-width: 767px)
      margin-left: 20px
    span.zeroes, span.dollars
      font-size: 50%
      position: relative
      bottom: 10px

  &.first
    @media screen and (min-width: 600px)
      border-right: 1px solid #dedede
    background-position: 236px 0
    @media screen and (max-width: 1200px) and (min-width: 992px)
      background-position: 190px 0
    @media screen and (max-width: 991px) and (min-width: 768px)
      background-position: 311px 0
    @media screen and (max-width: 767px)
      background: none

  &.last
    background-position: -300px 0
    @media screen and (max-width: 1200px) and (min-width: 1024px)
      background-position: -347px 0
    @media screen and (max-width: 991px) and (min-width: 768px)
      background-position: -222px 0
    @media screen and (max-width: 767px)
      background: none

footer
  text-align: center
  padding: 2em 0
  margin: 3em 0 1em 0
  a
    color: $orange
    &:hover
      text-decoration: underline
      color: $orange - 15

/* Form

.payment-errors
  background: #f2dede
  border: 1px solid $error
  color: $error
  padding: 15px 0 15px 15px
  display: none
  width: 97.3%
  margin: 1em 0

label, .checkout h1
  color: $brown

.checkout a
  color: $orange

.form-group
  margin: 5px 0
  display: inline-block
  width: 100%

input[type='text'], input[type='email']
  background: lighten(rgb(238,234,219), 1%)
  color: $brown

.expiry
  display: inline-block
  span
    float: left
  select[name='expiration-month']
    float: left
    width: 50px
  select[name='expiration-year']
    float: left
    width: 75px

p.btn-container
  text-align: center
  margin: 2.5em 0 1em 0

button, a.buy
  background: $brown
  padding: 13px 50px
  margin: 1em auto
  font-size: 21px
  color: #fff
  border: none
  @media screen and (max-width: 599px)
    width: 100%
    display: block
  &:hover
    background: rgb(93,47,8) - 10
    text-decoration: none

/* Errors

ul.parsley-errors-list
  padding-left: 0
  margin-left: 0
  list-style: none
  font-size: 88%
  color: $error
  font-family: Arial

input.parsley-error
  border: 1px solid $error

button[disabled='disabled']
  opacity: 0.5
  &:hover
    background: $brown
