.hero
  .hero-inner.container
    .row
      .col-md-12.header
        %h1
          Gorgeous coffees, curated and delivered.
          %p.btn-container
            %a{ href: '/checkout' } Order Now
        %p.small
          %small
            %em
              *Hand-delivery only available in Seattle area. Elsewhere, we can make arrangements.
              %a{ href: '' } Contact us.

.container
  .row
    .explanation.col-md-12
      %h1 Slow Coffee curates and roasts coffees from around the world. Then we hand-roast them in micro-batches and hand-deliver them right to your doorstep.

.currently
  %h1 Currently Roasting: <strong><em>Brazil</em></strong>

.container
  .row

    %section.subscription.col-md-12
      %h1 Choose your subscription.
      %p.pilot.col-md-6.col-md-offset-3 We&rsquo;re currently piloting our subscription program. It is slated to begin in April 2014. At this time, <strong>we have room for 15 coffee lovers.</strong> After that, we&rsquo;ll start a waiting list.

      %section.plan.first.col-md-6
        %h3 2 8oz bags.
        %p <strong>Every other week</strong> we&rsquo;ll deliver a bag of exquisite coffee. It&rsquo;ll arrive in your hands the same day it&rsquo;s roasted for peak freshness.
        %span.price <span class='dollars'>$</span>14<span class='zeroes'>00</span>
        %p <em>Perfect for one casual coffee drinker</em>
        %p.btn-container
          %a{ href: '/checkout?choice=1400', class: 'buy' } Buy Now

      %section.plan.last.col-md-6
        %h3 4 8oz. bags
        %p <strong>Each week</strong>, you&rsquo;ll get a different single origin coffee that we&rsquo;ve selected from among dozens to highlight a particular flavor profile.
        %span.price <span class='dollars'>$</span>20<span class='zeroes'>00</span>
        %p <em>One everyday drinker or two casual drinkers</em>
        %p.btn-container
          %a{ href: '/checkout?choice=2000', class: 'buy' } Buy Now

  .row
    %footer
      %p
        &copy; 2014 Slow Coffee.
        %a{ href: '#' } Contact


