.hero
  %h1.logo Slow Coffee
  .hero-inner.container
    .row
      .col-md-12.header
        %h1
          Gorgeous, heartfelt coffee.
          %p.btn-container
            %a{ href: '/checkout' } Join Us

.container
  .row
    .explanation.col-md-12
      %h1 We make great coffee, so you can make great coffee&mdash;any way you&rsquo;d like.
      %p Slow Coffee curates fair and direct trade coffees from around the world. We hand-roast these single origin coffees in micro batches to bring out the unique characteristics of every region.

.currently
  %h1 April 26&ndash;May 17: <strong><em>Timor, Peru, El Salvador, Ethiopia</em></strong>

.container
  .row

    %section.subscription.col-md-12
      %h1 Choose your subscription.
      .pilot-p-container
        %ul.pilot.col-md-6.col-md-offset-3
          %li <strong>Orders are currently open</strong> until April 25.
          %li Roasting and shipping begin <strong>April 26</strong>, and continue weekly.
          %li For the first offering, we have room for <strong>15 coffee lovers.</strong>
          %li After we reach 15 subscribers (or after April 26), we&rsquo;ll start a <strong>waiting list</strong> to be notified of our next offering.
        %p.pilot.col-md-6.col-md-offset-3
          %small
            %em <strong>Friendly note: </strong> Get in on this pricing while you can. After the initial offering, the prices will increase.</strong>

      %section.plan.first.col-md-6
        %h3 2 8oz bags.
        %p <strong>Every other week</strong>, you&rsquo;ll receive a bag of exquisite coffee from a different region. Fresh roasted, just for you.
        %span.price <span class='dollars'>$</span>14<span class='zeroes'>00</span>
        %p <em>Perfect for one casual coffee drinker</em>
        %p.btn-container
          %a{ href: '/checkout?choice=1400', class: 'buy' } Buy Now

      %section.plan.last.col-md-6
        %h3 4 8oz. bags
        %p <strong>Each week</strong>, you&rsquo;ll get a new coffee that we&rsquo;ve selected from among dozens to highlight a particular flavor profile.
        %span.price <span class='dollars'>$</span>20<span class='zeroes'>00</span>
        %p <em>One everyday drinker or two casual drinkers</em>
        %p.btn-container
          %a{ href: '/checkout?choice=2000', class: 'buy' } Buy Now

  .row
    %footer
      %p Satisfaction guaranteed. Love it, or we&rsquo;ll refund you. It&rsquo;s that simple.
      %p
        &copy; 2014 Slow Coffee.
        %a{ href: '#' } Contact


