!!!
%head
  %meta{content: "initial-scale=1, maximum-scale=1", name: "viewport"}
  %link{href: "assets/stylesheets/style.css", rel: "stylesheet", type: "text/css"}
  %link{href: "//cloud.typography.com/7494032/697204/css/fonts.css", rel: "stylesheet", type: "text/css"}
  %script{src: "https://js.stripe.com/v2/"}
  %script{src: "assets/javascripts/jquery.js"}
  %script{src: "assets/javascripts/payment.js"}
%body{ class: request.path_info.gsub('/','') }
  = yield

