!!!
%head
  %meta{content: "initial-scale=1, maximum-scale=1", name: "viewport"}
  %link{href: "//cloud.typography.com/7494032/697204/css/fonts.css", rel: "stylesheet", type: "text/css"}
  %link{href: "assets/stylesheets/style.css", rel: "stylesheet", type: "text/css"}
  %script{src: "assets/javascripts/app.min.js"}
%body{ class: request.path_info.gsub('/','') }
  = yield

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50048714-1', 'slowcoffee.co');
    ga('send', 'pageview');
